body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/** ADD PRODUCT */
.btn-add-product {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border: none;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #7ED1A7;
  margin-top: 15px;
}

.product-name, .product-description, .product-category, .product-price {
  border-radius: 0.25rem;
  border: 1px solid ;
  border-color: grey;
}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  justify-content: center;  
  text-align: flex-start; 
}

.wrapper > * {
  flex: auto;
}

@media all and (min-width: 240px) {
  .aside { flex: 250px 0 0; }
}

@media all and (min-width: 240px) {
  .aside-1 { order: 1; } 
  .aside-2 { order: 2; }
}

.category-price-container {
  display: flex;
  justify-content: center;
}

.product-description {
  width: 400px;
}

.product-name {
  width: 400px;
}

.product-select {
  width: 180px;
  margin-right: 40px;
}

.product-price {
  width: 180px;
}


/** BUTTONS **/
.edit-button {
  background-color: #fff;
  border: 1px solid;
  border-color: #10D502;
  border-radius: 5px;
  color: #10D502;
  margin: 2px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}

.link .edit-button:hover{
  background-color: #10D502;
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: #fff;
}

.delete-button {
  background-color: #fff;
  border: 1px solid;
  border-color: #f44336;
  border-radius: 5px;
  color: #f44336;
  margin: 2px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}

.link .delete-button:hover{
  background-color: #f44336;
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: #fff;
}

.profile-button {
  background-color: #fff;
  border: 1px solid;
  border-color: gray;
  border-radius: 5px;
  color: gray;
  margin: 2px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}

.link .profile-button:hover{
  background-color: gray;
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: #fff;
}

.mail-input {
  width: 30%;
  border: none;
  border-bottom: 1px solid #7ED1A7;
  margin-bottom: 2%;
}

.password-input {
  width: 30%;
  border: none;
  border-bottom: 1px solid #7ED1A7;
  margin-bottom: 2%;
}

.login-button {
  width: 30%;
  background-color: #7ED1A7;
  border-radius: 5px;
  border: none;
  color: #fff;
  padding: 5px;
  margin: 5px;
}

.login-container {
  display: block;
  width: 100%;
}

.forget-password-container {
  display: inline-flexbox;
  font-size: 10px;
}

.btn-login {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #7AD8DE;
  border-color: #7AD8DE;
}

.btn-register {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #80E896;
  border-color: #80E896;
}

/** ACCOUNT FORM **/
.account-form {
  position: relative;
  max-width: 400px;
  margin: 100px auto 100px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/** ACCOUNT UPDATE **/
.account-update {
  position: relative;
  max-width: 900px;
  margin: 100px auto 100px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.account-update form {
  padding: 20px;
}

.account-update label {
  font-weight: bold;
  color: #7ED1A7;
}

div.row {
  margin: 10px;
}

/** REGISTER & LOGIN FORM **/
.account-form {
  position: relative;
  max-width: auto;
  margin: 100px auto 100px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.account-form form {
  padding: 20px;
}

.account-form label {
  font-weight: bold;
  color: #7ED1A7;
}

div.row {
  margin: 10px;
}

/** NAVBAR **/
.nav-item .nav-login {
  background-color: #7AD8DE;
  color: #fff;
  margin: 0 10px;
  border-radius: 0.25rem;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color .15s ease-in-out;
}

.nav-item .nav-register {
  background-color: #80E896;
  color: #fff;
  margin: 0 10px;
  border-radius: 0.25rem;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color .15s ease-in-out;
}

.nav-item .nav-logout {
  background-color: #E67C6E;
  color: #fff;
  margin: 0 10px;
  border-radius: 0.25rem;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color .15s ease-in-out;
}

.nav-item .nav-profile {
  background-color: #6EE6AA;
  color: #fff;
  margin: 0 10px;
  border-radius: 0.25rem;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color .15s ease-in-out;
}

.nav-item .nav-edit-profile {
  background-color: #6EE6AA;
  color: #fff;
  margin: 0 10px;
  border-radius: 0.25rem;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color .15s ease-in-out;
}

.nav-item a:hover {
  background-color: #ffffff;
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: #7ED1A7;
}

.navbar-brand {
  padding: 10px;
  color: #fff;
  text-align: center;
}

.navbar-brand:hover {
  background-color: #ffffff;
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: #7ED1A7;
}

.navbar  {
  background-color: #7ED1A7;
}

